# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# macOS
.DS_Store
**/.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Chat History Storage
chat_history

# data files
data

# ChromaDataBase
chroma_langchain_db